In [158]:
# using SQLalchemy 
from sqlalchemy import create_engine
import pandas as pd
import pyodbc
import pandas as pd
import numpy as np

database = 'hackathon_danone'
username = 'hack12'
password = 'boA8AKUb54!'
driver= '{SQL Server}'
server = '192.168.250.3'

my_engine = create_engine(f"""mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver={server}', fast_executemany=True""" )

def db_sql(sql):
    cnxn = pyodbc.connect(f'DRIVER={driver};PORT=1433;SERVER={server};DATABASE={database};UID={username};PWD={password}')
    data = pd.read_sql(sql,cnxn)
    cnxn.close()    
    return data

In [159]:
import datetime

In [160]:
raw_mat_in_reg = db_sql('select * from eval_recipe_0_raw_material_in')
raw_mat_used_reg = db_sql('select * from eval_recipe_0_raw_material_used')

In [161]:
raw_bigbag_reg = db_sql('select * from eval_recipe_0_processing_details_bigbag')
raw_dd_reg = db_sql('select * from eval_recipe_0_processing_details_dd')
raw_slurry_reg = db_sql('select * from eval_recipe_0_processing_details_slurry')

In [162]:
raw_mat_reg = pd.read_csv('raw_weighted_recipe0.csv', sep=',')

In [168]:
raw_dd_reg.head()

   orders_details_id        testing_time  steam_preasure  dd_speed  temp_out
0                  0 2018-04-04 11:30:00             7.5       9.0     116.0
1                  0 2018-04-04 12:30:00             7.8       9.5     116.0
2                  0 2018-04-04 13:30:00             7.8       9.5     116.0
3                  0 2018-04-04 14:30:00             7.5       9.5     116.0
4                  0 2018-04-04 15:30:00             7.5       9.0     116.0

In [169]:
raw_bigbag_reg = raw_bigbag_reg.dropna()

In [165]:
raw_out_reg.head()

,orders_details_id,line_dd,process_order,testing_time,moisture,bulk_density
0,0,DD02,101065632.0,2018-03-21 06:30:00,4.99,240.0
1,0,DD02,101065632.0,2018-03-21 07:30:00,4.99,240.0
2,0,DD02,101065632.0,2018-03-21 08:30:00,4.74,250.0
3,0,DD02,101065632.0,2018-03-21 09:30:00,4.68,250.0
4,0,DD02,101065632.0,2018-03-21 10:30:00,4.71,250.0

In [166]:
out_bb_reg = raw_out_reg.merge(raw_bigbag_reg, on=['orders_details_id', 'bigbag_number'])
out_bb_reg = out_bb.dropna()
out_bb.head()

KeyError: 'bigbag_number'

In [170]:
out_dd = pd.merge_asof(raw_bigbag_reg.sort_values('bigbag_filling_time_end'), raw_dd.sort_values('testing_time'),
                      left_on='bigbag_filling_time_end', right_on='testing_time')
out_dd.head(5)

,orders_details_id_x,bigbag_number,bigbag_filling_time_end,sifter_speed_nominal_pct,orders_details_id_y,testing_time,steam_preasure,dd_speed,temp_out
0,0,1,2018-04-04 13:00:00,0.69999999999999996,4,2018-04-04 12:30:00.000,7.0,9.0,120.0
1,0,2,2018-04-04 14:40:00,0.69999999999999996,5,2018-04-04 14:30:00.000,7.0,9.0,120.0
2,0,3,2018-04-04 15:50:00,0.69999999999999996,5,2018-04-04 15:30:00.000,7.0,9.0,120.0
3,0,4,2018-04-04 17:30:00,0.69999999999999996,5,2018-04-04 16:30:00.007,7.0,9.0,120.0
4,0,5,2018-04-04 19:10:00,0.69999999999999996,5,2018-04-04 18:30:00.017,7.0,9.0,120.0

In [171]:
out_sl = pd.merge_asof(out_dd.sort_values('testing_time'), raw_slurry.sort_values('slurry_start_time'),
                      left_on='testing_time', right_on='slurry_start_time')
out_sl['start'] = out_sl.apply(lambda x: x['bigbag_filling_time_end'] - datetime.timedelta(minutes=20), axis=1)

In [127]:
datas = []
for i in range(len(out_sl)):
    start = out_sl['start'][i].strftime('%Y-%m-%d %H:%M:%S')
    end = out_sl['bigbag_filling_time_end'][i].strftime('%Y-%m-%d %H:%M:%S')
    data = db_sql(f"""
    SELECT
        AVG(w.steam_pressure_at_the_inlet_of_regulation_unit),
        MIN(w.steam_pressure_at_the_inlet_of_regulation_unit),
        MAX(w.steam_pressure_at_the_inlet_of_regulation_unit),
        AVG(w.product_temperature_at_the_outlet_of_JetCooker),
        MIN(w.product_temperature_at_the_outlet_of_JetCooker),
        MAX(w.product_temperature_at_the_outlet_of_JetCooker),
        AVG(w.product_temperature_at_the_inlet),
        MIN(w.product_temperature_at_the_inlet),
        MAX(w.product_temperature_at_the_inlet),
        AVG(w.steam_pressure_at_the_inlet_of_JetCooker),
        MIN(w.steam_pressure_at_the_inlet_of_JetCooker),
        MAX(w.steam_pressure_at_the_inlet_of_JetCooker),
        AVG(w.condensate_temperature_at_DD_outlet),
        MIN(w.condensate_temperature_at_DD_outlet),
        MAX(w.condensate_temperature_at_DD_outlet)
    FROM
        "Walec DD08" as w
    WHERE
        timestamp between '{start}' and '{end}'""")
    datas.append(data)

In [128]:
out_sl = out_sl.iloc[:, 1:]

In [172]:
out = out_sl.merge(raw_mat, left_on='orders_details_id_x', right_on='id')

In [173]:
out.to_csv('recipe_0_val_reg.csv')

In [174]:
out

,orders_details_id_x,bigbag_number,bigbag_filling_time_end,sifter_speed_nominal_pct,orders_details_id_y,testing_time,steam_preasure,dd_speed,temp_out,orders_details_id,...,water_correction,start,Unnamed: 0,id,particles_grp1,particles_grp2,particles_grp3,moisture,usage_pct,elems
0,0,1,2018-04-04 13:00:00,0.69999999999999996,4,2018-04-04 12:30:00.000,7.0,9.0,120.0,4,...,-40.0,2018-04-04 12:40:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
1,0,2,2018-04-04 14:40:00,0.69999999999999996,5,2018-04-04 14:30:00.000,7.0,9.0,120.0,5,...,-40.0,2018-04-04 14:20:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
2,0,3,2018-04-04 15:50:00,0.69999999999999996,5,2018-04-04 15:30:00.000,7.0,9.0,120.0,5,...,-40.0,2018-04-04 15:30:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
3,0,4,2018-04-04 17:30:00,0.69999999999999996,5,2018-04-04 16:30:00.007,7.0,9.0,120.0,5,...,-40.0,2018-04-04 17:10:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
4,0,5,2018-04-04 19:10:00,0.69999999999999996,5,2018-04-04 18:30:00.017,7.0,9.0,120.0,5,...,-40.0,2018-04-04 18:50:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
5,0,6,2018-04-04 20:00:00,0.69999999999999996,5,2018-04-04 19:30:00.020,7.0,9.0,120.0,5,...,-40.0,2018-04-04 19:40:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
6,0,7,2018-04-04 21:10:00,0.69999999999999996,5,2018-04-04 20:30:00.027,7.0,9.0,120.0,5,...,-40.0,2018-04-04 20:50:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
7,0,8,2018-04-04 22:25:00,0.69999999999999996,5,2018-04-04 21:30:00.030,7.0,9.0,120.0,5,...,-40.0,2018-04-04 22:05:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
8,0,9,2018-04-04 23:35:00,0.69999999999999996,5,2018-04-04 23:30:00.040,7.0,9.0,120.0,5,...,-40.0,2018-04-04 23:15:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
9,0,10,2018-04-05 00:45:00,0.69999999999999996,5,2018-04-05 00:30:00.047,7.0,9.0,120.0,5,...,-40.0,2018-04-05 00:25:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
10,0,11,2018-04-05 02:20:00,0.69999999999999996,5,2018-04-05 01:30:00.050,7.0,9.0,120.0,5,...,-40.0,2018-04-05 02:00:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
11,0,12,2018-04-05 03:30:00,0.69999999999999996,5,2018-04-05 02:30:00.057,6.7,9.0,120.0,5,...,-40.0,2018-04-05 03:10:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
12,0,13,2018-04-05 04:30:00,0.69999999999999996,5,2018-04-05 03:30:00.060,6.5,9.0,125.0,5,...,-40.0,2018-04-05 04:10:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
13,0,14,2018-04-05 05:25:00,0.69999999999999996,5,2018-04-05 04:30:00.067,6.5,9.0,125.0,5,...,-40.0,2018-04-05 05:05:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
14,0,15,2018-04-05 06:40:00,0.69999999999999996,5,2018-04-05 06:30:00.077,6.5,9.0,125.0,5,...,-40.0,2018-04-05 06:20:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
15,0,16,2018-04-05 07:50:00,0.80000000000000004,5,2018-04-05 07:30:00.080,6.5,9.0,125.0,5,...,-40.0,2018-04-05 07:30:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
16,0,17,2018-04-05 09:10:00,0.80000000000000004,5,2018-04-05 08:30:00.087,6.5,9.0,125.0,5,...,-40.0,2018-04-05 08:50:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
17,0,18,2018-04-05 10:40:00,0.80000000000000004,5,2018-04-05 10:30:00.097,6.5,9.0,125.0,5,...,-40.0,2018-04-05 10:20:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
18,0,19,2018-04-05 11:55:00,0.80000000000000004,5,2018-04-05 11:30:00.100,6.5,9.0,125.0,5,...,-40.0,2018-04-05 11:35:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
19,0,20,2018-04-05 13:10:00,0.80000000000000004,5,2018-04-05 12:30:00.107,6.5,9.0,125.0,5,...,-40.0,2018-04-05 12:50:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
20,0,21,2018-04-05 14:25:00,0.80000000000000004,5,2018-04-05 13:30:00.110,6.5,9.0,125.0,5,...,-40.0,2018-04-05 14:05:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
21,0,22,2018-04-05 16:05:00,0.80000000000000004,5,2018-04-05 14:30:00.117,6.5,9.0,125.0,5,...,-40.0,2018-04-05 15:45:00,0,0,0.789210,0.209790,0.0,11.8881,0.999,3
22,2,1,2018-05-08 22:25:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 22:05:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
23,2,2,2018-05-09 00:00:00,0.80000000000000004,12,2018-05-08 23:30:00.000,6.6,10.0,123.0,12,...,-40.0,2018-05-08 23:40:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
24,2,3,2018-05-09 01:25:00,0.80000000000000004,12,2018-05-09 00:30:00.000,6.6,10.0,123.0,12,...,-40.0,2018-05-09 01:05:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
25,2,4,2018-05-09 03:15:00,0.80000000000000004,12,2018-05-09 02:30:00.000,6.6,10.0,123.0,12,...,-40.0,2018-05-09 02:55:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
26,2,5,2018-05-09 04:45:00,0.80000000000000004,12,2018-05-09 04:30:00.000,6.6,10.0,123.0,12,...,-40.0,2018-05-09 04:25:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
27,2,6,2018-05-09 06:20:00,0.80000000000000004,12,2018-05-09 05:30:00.000,6.6,10.0,123.0,12,...,-40.0,2018-05-09 06:00:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
28,2,7,2018-05-09 07:45:00,0.80000000000000004,12,2018-05-09 07:30:00.000,6.6,10.0,124.0,12,...,-40.0,2018-05-09 07:25:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
29,2,8,2018-05-09 09:25:00,80-90%,12,2018-05-09 08:30:00.000,6.6,10.0,124.0,12,...,-40.0,2018-05-09 09:05:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
30,2,9,2018-05-09 10:41:00,0.93000000000000005,12,2018-05-09 10:30:00.000,6.6,10.0,124.0,12,...,-40.0,2018-05-09 10:21:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
31,2,10,2018-05-09 13:35:00,0.93000000000000005,12,2018-05-09 13:30:00.000,6.6,10.0,121.0,12,...,-40.0,2018-05-09 13:15:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
32,2,11,2018-05-09 15:00:00,0.93000000000000005,12,2018-05-09 14:30:00.000,6.6,10.0,121.0,12,...,-40.0,2018-05-09 14:40:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
33,2,17,2018-05-09 15:00:00,0.93000000000000005,12,2018-05-09 14:30:00.000,6.6,10.0,121.0,12,...,-40.0,2018-05-09 14:40:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
34,2,12,2018-05-09 16:10:00,0.93000000000000005,12,2018-05-09 15:30:00.000,6.6,10.5,122.0,12,...,-40.0,2018-05-09 15:50:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
35,2,13,2018-05-09 17:25:00,0.93000000000000005,12,2018-05-09 16:30:00.000,6.6,10.5,122.0,12,...,-40.0,2018-05-09 17:05:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
36,2,14,2018-05-09 18:40:00,0.93000000000000005,12,2018-05-09 18:30:00.000,6.6,11.0,122.0,12,...,-40.0,2018-05-09 18:20:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
37,2,15,2018-05-09 19:50:00,0.93000000000000005,12,2018-05-09 19:30:00.000,6.6,11.0,122.0,12,...,-40.0,2018-05-09 19:30:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
38,2,16,2018-05-09 21:10:00,0.93000000000000005,12,2018-05-09 20:30:00.000,6.6,11.0,122.0,12,...,-40.0,2018-05-09 20:50:00,2,2,0.790000,0.210000,0.0,11.8000,1.000,1
39,1,9,2018-05-08 21:20:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 21:00:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
40,1,8,2018-05-08 19:55:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 19:35:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
41,1,7,2018-05-08 18:40:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 18:20:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
42,1,6,2018-05-08 17:25:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 17:05:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
43,1,4,2018-05-08 14:50:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 14:30:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
44,1,3,2018-05-08 13:25:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 13:05:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
45,1,2,2018-05-08 12:20:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 12:00:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
46,1,1,2018-05-08 10:50:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 10:30:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
47,1,5,2018-05-08 16:10:00,0.80000000000000004,10,2018-04-25 04:30:00.000,6.5,10.0,123.0,10,...,-40.0,2018-05-08 15:50:00,1,1,0.790000,0.210000,0.0,11.8368,1.000,3
48,3,1,2018-05-09 22:45:00,0.80000000000000004,12,2018-05-09 22:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-09 22:25:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
49,3,2,2018-05-10 00:20:00,0.80000000000000004,12,2018-05-09 23:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 00:00:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
50,3,6,2018-05-10 06:15:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 05:55:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
51,3,5,2018-05-10 04:50:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 04:30:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
52,3,7,2018-05-10 07:30:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 07:10:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
53,3,3,2018-05-10 01:45:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 01:25:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
54,3,4,2018-05-10 03:15:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 02:55:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2
55,3,8,2018-05-10 08:10:00,0.80000000000000004,12,2018-05-10 01:30:00.000,6.6,10.0,122.0,12,...,-40.0,2018-05-10 07:50:00,3,3,0.603775,0.396225,0.0,12.6595,1.000,2